@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color1: #b8a929;
    --color2: #b8b81f;
}

@layer utilities{
    .scale{
        transform: scale(-1, 1);
        background-color: #918520;
        -moz-transform: scale(-1, 1);
        -webkit-transform: scale(-1, 1);
        -o-transform: scale(-1, 1);
        -ms-transform: scale(-1, 1);
        transform: scale(-1, 1);
    }
    .bg-color1{
        background-color: var(--color1);
    }
    .bg-color2{
        background-color: var(--color2);
    }
    .bg-color{
        background-color: #918520;
    }
    .rotate{
        transform: rotateY(0deg);
    }
    .rotate1{
        transform: rotateY(180deg);
    }
    .content-container{
        position: absolute;
        margin-left: -97px;
        margin-top: -97px;
    }
    /*loader css*/
    .loader {
        width: 60px;
        height: 60px;
        top: -160px;
        right: -60px;
        border-radius: 50%;
        position: relative;
        border: solid 2px green;
        box-shadow: 5px 5px 5px rgb(12, 12, 12), inset 5px 5px 5px rgb(24, 23, 23),
          inset -1px -1px 10px rgba(153, 148, 148, 0.432),
          -1px -1px 10px rgba(206, 198, 198, 0.281);
      }
      
      .loader::before {
        display: inline-block;
        position: absolute;
        width: 150px;
        height: 150px;
        top: -160px;
        right: -60px;
        border-radius: 50%;
        transform: translate(-50%, -50%);
        box-shadow: 5px 5px 20px black, -2px -2px 40px black;
        background: repeating-conic-gradient(
          rgb(61, 59, 59) 0%,
          rgba(248, 248, 246, 0.534) 15%,
          rgb(54, 52, 52) 33.33%
        );
      }
      
      .ball {
        width: 10px;
        height: 10px;
        background: radial-gradient(
          circle at 2px 5px,
          rgb(238, 228, 82) 20%,
          rgb(5, 5, 5) 60%
        );
        right: 17px;
        top: 30px;
        border-radius: 50%;
        position: absolute;
        transform: translate(-50%, -50%) translateX(37.5px);
        animation: rotate 5s calc(var(--delay) * .25s) infinite linear;
      }
      
      @keyframes rotate {
        0% {
          transform: translate(-50%, -50%) rotate(0deg) translateX(37.5px);
        }
      
        100% {
          transform: translate(-50%, -50%) rotate(360deg) translateX(37.5px);
        }
      }
      
}